/*= input focus effects css
=========================== */
:focus{outline: none;}

.herite-ajout-proces{float: left; width: 27.33%; margin: 30px 3%; position: relative; } 
input[type="text"]{font: 14px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 0.1px;}
select{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 0.1px;}

{border:none; }


.effect-16{border: 0; padding: 6px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.effect-16-validation{border: 0; padding: 6px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-16-validation ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #f44336; transition: 0.4s;}

.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{width: 100%; transition: 0.4s;}
.effect-16-validation:focus ~ .focus-border,
.has-content.effect-16-validation ~ .focus-border{width: 100%; transition: 0.4s;}


.effect-16 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;padding-left: 15px;}
.effect-16-validation ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;padding-left: 15px;}



.effect-16:focus ~ label, .has-content.effect-16 ~ label{left: -15px;top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}
.effect-16-validation:focus ~ label, .has-content.effect-16-validation ~ label{left: -15px;top: -16px; font-size: 12px; color: red; transition: 0.3s;}


.ajout-proces{
	margin-top: 50px;
}




/*file upload css*/
.abox{
	height: 200px;
	width: 600px;
	border: 1px solid #03fcc6;
	margin: auto;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

i.fas{
	color: #6495ED;
	font-size: 

	
}
.aboxv{
	height: auto;
	width: 100px;
	border: 0px solid black;
	margin-left:30px;
	margin-top: 50px;
	border-radius: 50px;
	background-color: #e6fffa;
	text-align: center;
	border: 1px solid 	 #009999;
	

}
.aboxi{
	height: auto;
	width: 100px;
	border: 0px solid black;
	margin-left:150px ;
	border-radius: 50px;
	background-color: #e6fffa;
	text-align: center;
	border: 1px solid 	 #009999;
	
}
.aboxw{
	height: auto;
	width: 150px;
	border: 0px solid black;
	margin-left:270px ;
	margin-top: ;
	border-radius: 50px;
	background-color: #e6fffa;
	text-align: center;
	border: 1px solid 	 #009999;
	
}
.aboxp{
	height: auto;
	width: 100px;
	border: 0px solid black;
	margin-left:440px ;
	border-radius: 50px;
	background-color: #e6fffa;
		text-align: center;
	border: 1px solid 	 #009999;
	


}
.aboxv:hover .aboxv label{
	top: -140px;
	transition: 0.5s;
	transform: translateY(-40px);
}